@using AIStoryBuilders.AI
@using AIStoryBuilders.Model;
@using AIStoryBuilders.Models;
@using AIStoryBuilders.Services;
@using System.Text
@using CommunityToolkit.Maui.Storage
@inherits OwningComponentBase
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject SettingsService SettingsService
@if (objStory.Id == -1) // New Story
{
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Story Title:" Variant="@variant">
                    <RadzenTextBox MaxLength="20" @bind-Value="@objStory.Title" />
                </RadzenFormField>
                <RadzenSpeechToTextButton Change="@(args => OnSpeechCaptured(args, false, "TextToSpeech"))" />
                <RadzenFormField Text="Short Story Synopsis:" Variant="@variant">
                    <RadzenTextArea MaxLength="1000" Rows="10" @bind-Value="@objStory.Synopsis" />
                </RadzenFormField>
                <p>Chapters: <RadzenDropDown Data=@colChapters @bind-Value="@objStory.ChapterCount" Style="width:75px" />
                    &nbsp;&nbsp;
                    AI Model: <RadzenDropDown @bind-Value=@AIModel Data=@colAIStoryBuilderModel TextProperty="ModelName" Style="width:300px" />
                </p>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <div class="row">
        <div class="col">
            <RadzenButton Text="Create Story" ButtonStyle="ButtonStyle.Success"
                          Click="StorySave"
                          Style="margin-bottom: 10px; width: 150px" />&nbsp;&nbsp;
        </div>
    </div>
}
else // Existing Story
{
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Story Title:" Variant="@variant">
                    <RadzenLabel Text="@objStory.Title" Style="margin-top:10px; margin-left:10px; margin-bottom:10px" />
                </RadzenFormField>
                <RadzenFormField Text="Style:" Variant="@variant">
                    <RadzenDropDown Data=@colStyles @bind-Value="@objStory.Style" />
                </RadzenFormField>
                <RadzenFormField Text="Synopsis:" Variant="@variant">
                    <RadzenTextArea @bind-Value="@objStory.Synopsis" MaxLength="1000" Rows="5" />
                </RadzenFormField>
                <RadzenPanel AllowCollapse="true" Collapsed="true" Style="width: 100%;">
                    <HeaderTemplate>
                        <RadzenText TextStyle="TextStyle.Subtitle1">
                            &nbsp;&nbsp;System Message
                        </RadzenText>
                    </HeaderTemplate>
                    <ChildContent>
                        <RadzenRow Gap="1rem">
                            <RadzenColumn Size="12" SizeSM="12">
                                <RadzenStack>
                                    <RadzenFormField Variant="@variant">
                                        <RadzenTextArea Style="width: 100%;" @bind-Value="@objStory.Theme" MaxLength="1000" Rows="5" />
                                    </RadzenFormField>
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                    </ChildContent>
                </RadzenPanel>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>

    <br />
    <div class="row">
        <div class="col">
            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Success"
                          Click="StorySave" Icon="save"
                          Style="width: 150px" />&nbsp;&nbsp;
            <RadzenButton Text="Save Word Doc" ButtonStyle="ButtonStyle.Primary"
                          Click="ExportToWord" Icon="print" />&nbsp;&nbsp;
            <RadzenButton Text="Export Project" ButtonStyle="ButtonStyle.Primary"
                          Click="ExportProject" Icon="save_alt" />&nbsp;&nbsp;
            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger"
                          Click="StoryDelete" />
        </div>
    </div>
}
@code {
    [Parameter] public Story objStory { get; set; }
    [Parameter] public EventCallback<Story> StoryUpdated { get; set; }
    [Parameter] public EventCallback<Story> StoryDeleted { get; set; }

    AIStoryBuilderModel AIModel = new AIStoryBuilderModel();
    List<AIStoryBuilderModel> colAIStoryBuilderModel = new List<AIStoryBuilderModel>();

    AIStoryBuildersService AIStoryBuildersService;
    OrchestratorMethods OrchestratorMethods;
    LogService LogService;

    IEnumerable<string> colStyles;
    Variant variant = Variant.Outlined;

    List<string> colChapters = new List<string>()
                {
                   "1","2","3"
                };

    List<string> colModels = new List<string>();

    protected override void OnInitialized()
    {
        AIStoryBuildersService = (AIStoryBuildersService)ScopedServices.GetService(typeof(AIStoryBuildersService));
        OrchestratorMethods = (OrchestratorMethods)ScopedServices.GetService(typeof(OrchestratorMethods));
        LogService = (LogService)ScopedServices.GetService(typeof(LogService));

        // Add sample data to the Styles dropdown
        colStyles = new List<string>()
        {
            "Drama",
            "Sci-Fi",
            "Romance",
            "Comedy",
            "Fantasy",
            "Mystery",
            "Thriller",
            "Children",
            "Young Adult",
            "Action",
            "Crime",
            "Dystopian",
            "Horror",
        };

        if (objStory.Style == null)
        {
            objStory.Style = "Drama";
            objStory.ChapterCount = "3";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        colAIStoryBuilderModel = await OrchestratorMethods.ListAllModelsAsync();

        // Set the default AI Model
        SettingsService.LoadSettings();
        var DefaultModelId = SettingsService.AIModel;

        if (DefaultModelId != null)
        {
            AIModel = colAIStoryBuilderModel.Where(x => x.ModelId == DefaultModelId).FirstOrDefault();
        }
    }

    private async Task StorySave()
    {
        try
        {
            if (objStory.Title != null)
            {
                if (objStory.Title.Length < 1)
                {
                    NotificationService.Notify(
                        new NotificationMessage
                            {
                                Severity = NotificationSeverity.Error,
                                Summary = "Error",
                                Detail = "Story Title is required",
                                Duration = 4000
                            });
                    return;
                }
            }
            else
            {
                NotificationService.Notify(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = "Story Title is required",
                            Duration = 4000
                        });
                return;
            }

            // Ensure IsValidFolderName
            if (!OrchestratorMethods.IsValidFolderName(objStory.Title))
            {
                NotificationService.Notify(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = "Story Title cannot contain | or ; or \\ or / or :",
                            Duration = 4000
                        });
                return;
            }

            // Trim spaces out of story name
            objStory.Title = OrchestratorMethods.TrimInnerSpaces(objStory.Title);

            if (objStory.Id == -1) // New Story - Do Special Validation
            {
                // Check for duplicate Story Title
                if (AIStoryBuildersService.GetStorys().Where(x => x.Title.ToLower() == objStory.Title.ToLower()).Count() > 0)
                {
                    NotificationService.Notify(
                        new NotificationMessage
                            {
                                Severity = NotificationSeverity.Error,
                                Summary = "Error",
                                Detail = "Story name already exists",
                                Duration = 4000
                            });
                    return;
                }
            }

            // Set the AI Model
            objStory.ModelId = AIModel.ModelId;

            // Notify parent component
            await StoryUpdated.InvokeAsync(objStory);
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });

            LogService.WriteToLog(ex.Message);
        }
    }

    protected async Task StoryDelete()
    {
        // Ask for confirmation:
        var confirmResult = await DialogService.Confirm("Are you sure?", "Delete Story",
                  new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

        if (confirmResult.HasValue && confirmResult.Value)
        {
            // Notify parent component
            await StoryDeleted.InvokeAsync(objStory);
        }
    }

    protected async Task ExportToWord()
    {
        string ExportFileName = $"{objStory.Title}_{DateTime.Now.ToString("yyyy-MM-dd_HH-mm-ss")}.docx";

        var DocumentContents = AIStoryBuildersService.ExportWordDocument(objStory);

        // Read DocumentContents into a MemoryStream
        var stream = new MemoryStream(DocumentContents);

        var fileSaverResult = await FileSaver.Default.SaveAsync(ExportFileName, stream);

        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Saved",
                Detail = $"The file was saved successfully.",
                Duration = 4000
            });
    }

    protected async Task ExportProject()
    {
        string ExportFileName = $"{objStory.Title}_{DateTime.Now.ToString("yyyy-MM-dd_HH-mm-ss")}.stybld";

        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Info,
                Summary = "Exporting",
                Detail = $"Story...",
                Duration = 2000
            });

        var DocumentContents = AIStoryBuildersService.ExportProject(objStory);

        // Read DocumentContents into a MemoryStream
        var stream = new MemoryStream(DocumentContents);

        var fileSaverResult = await FileSaver.Default.SaveAsync(ExportFileName, stream);

        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Saved",
                Detail = $"The file was saved successfully.",
                Duration = 4000
            });
    }

    void OnSpeechCaptured(string speechValue, bool updateTextArea, string name)
    {
        objStory.Synopsis += speechValue;
    }
}