@using AIStoryBuilders.Model;
@using Newtonsoft.Json;
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject SettingsService SettingsService
@inject IJSRuntime JSRuntime
<h3>Settings</h3>
<RadzenRow AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-p-sm-12">
    <RadzenColumn Size="8" SizeSM="4">
        <RadzenStack>
            <RadzenFormField Text="OpenAI Organization:" Variant="@variant">
                <RadzenTextBox @bind-Value="@Organization" style="width:300px;" />
            </RadzenFormField>
            <RadzenFormField Text="OpenAI ApiKey:" Variant="@variant">
                <RadzenTextBox @bind-Value="@ApiKey" @oninput="APIKeyDetection" style="width:450px;" />
            </RadzenFormField>
            <RadzenLabel Text="Fast Mode uses GPT 3.5 rather than GPT 4. This is faster and cost less, but does not perform as well." style="font-size:smaller" />
            <RadzenFormField Text="Fast Mode:" style="width:120px" Variant="@variant">
                <RadzenLabel Text="Off" style="text-align:right" /><RadzenSwitch @bind-Value=@FastMode style="width:25px;margin:8px" /><RadzenLabel Text="On" style="width:20px;" />
            </RadzenFormField>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
<br />
@if (!IsSettingsEntered)
{
    <div class="row">
        <div class="col">
            <RadzenButton Text="An OpenAI API Key is required (Click here to get one)" ButtonStyle="ButtonStyle.Secondary"
                          Click="GetAPIKey"
                          Style="margin-bottom: 10px; width: 500px" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Success"
                          Click="SettingsSave"
                          Style="margin-bottom: 10px; width: 150px" />&nbsp;&nbsp;
        </div>
    </div>
}
@code {
    [Parameter] public EventCallback SettingsChanged { get; set; }
    Variant variant = Variant.Outlined;

    string Organization = "";
    string ApiKey = "";
    bool FastMode = false;

    bool IsSettingsEntered = false;

    protected override void OnInitialized()
    {
        SettingsService.LoadSettings();

        Organization = SettingsService.Organization;
        ApiKey = SettingsService.ApiKey;
        FastMode = SettingsService.FastMode;

        if (ApiKey.Length > 1)
        {
            IsSettingsEntered = true;
        }
        else
        {
            IsSettingsEntered = false;
        }
    }

    private async Task GetAPIKey()
    {
        // Open a new window to the OpenAI API Key page
        await JSRuntime.InvokeVoidAsync("open", "https://platform.openai.com/account/api-keys");
    }

    private void APIKeyDetection(ChangeEventArgs args)
    {
        if (args.Value.ToString().Length > 1)
        {
            IsSettingsEntered = true;
        }
        else
        {
            IsSettingsEntered = false;
        }
    }

    private async Task SettingsSave()
    {
        try
        {
            // Update Settings
            await SettingsService.SaveSettings(Organization, ApiKey, FastMode);

            if (ApiKey.StartsWith("sk-"))
            {
                NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Success",
                        Detail = "Saved",
                        Duration = 4000
                    });
            }
            else
            {
                NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Invalid API Key - must start with: sk-",
                        Duration = 4000
                    });
            }

            // Notify parent that settings have changed
            await SettingsChanged.InvokeAsync();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });
        }
    }
}